.chatbody {
  box-sizing: border-box;
  width: 35%;
  height: 100vh;
  background-color: var(--glass);
  margin-left: 1rem;
  padding: 0;
}

h2 {
  font-size: 30px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.chatbody_search {
  margin-left: 4rem;
  width: 380px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.chatbody_search input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e6e5ea;
  padding: 8px 5px;
  outline: none;
  width: 100%;
}

.btn-search {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #e6e5ea;
}

.search_form:focus {
  font-size: 15;
}
